* {
  margin: 0;
  padding: 0;
}
.About-Me {
  padding: 100px 0;
  background-color: #fff;
}
.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: black;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}
.section-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: aqua;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}
.About-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.About-text {
  flex: 1;
}
.About-text h3 {
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}
.About-text h3 span:nth-child(1)::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}
.About-text p {
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
  font-weight: 600;
}
.Me {
  margin-right: 100px;
  margin-top: 80px;
}
