.Contact {
  margin-top: 60px;
}
.Section-title-Contact {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
}
.Section-title-Contact::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  left: calc(50% - 40px);
}
.Section-title-Contact::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #588e66;
  border: 4px solid #000000;
  left: calc(50% - 12px);
  bottom: -7px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: beige;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}
.contact-info i {
  display: block;
  font-size: 32px;
  line-height: 120px;
  height: 100px;
}
.contact-info .item:hover {
  background-color: rgb(78, 96, 126);
}
.Contact-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.Contact-form input,
.Contact-form textarea {
  width: 100%;
  height: 15px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}
.NameZone,
.EmailZone {
  max-width: calc(43% - 5px );
}
.MessageZone {  
  min-height: 200px;
  resize: vertical;
}
.Contact-form .Btn {
  width: 120px;
  height: 32px;
  background-color: transparent;
  color: #353b48;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s linear;
  border: 1px solid #353b48;
  margin-bottom: 16px;
}
.Contact-form .Btn:hover {
  background-color: #353b48;
  color: #fff;
}
@media screen and (max-width:600px) {
  .NameZone,
  .EmailZone {
    width: 100%;
  }
}
@media screen and (max-width:980px) {
}

