.Section-title-EXP {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: black;
}
.Section-title-EXP::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}
.Section-title-EXP::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #4f6696;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}
.Time-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Block {
  width: calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 30px;
  position: relative;
}
.Block::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 135%;
  background-color: rgb(184, 184, 184);
  left: -20px;
  transform: translateY(-10%);
}
.Block::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #4f6696;
  left: -28px;
  top: 50px;
  border-radius: 50%;
}
.Block h3 {
  font-size: 16px;
  margin: 10px 0;
}
.Block p {
  font-size: 15px;
  color: #444;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .Block {
    width: calc(100% - 20px);
    margin-left: auto;
  }
}
