* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.NavBar {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 999;
  transition: 0.3s linear;
  /* border: solid 1px black; */
}
.NavBar {
  position: fixed;
  width: 100vw;
  height: 30px;
  top: 0;
  z-index: 999;
  margin: 0;
  padding: 30px 0;
  background-color: transparent;
  transition: 0.3s linear;
  /* border: solid 1px white; */
}
.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}
.NavBar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}
.Menu-toggler span {
  display: block;
  height: 3px;
  margin: 6px 0;
  position: relative;
  transition: 0.2s linear;
  background-color: #fff;
}
.Nav-Menu a {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 4px;
}
.Nav-Menu a:hover {
  color: rgb(115, 201, 255) !important;
  /* border: 0.5px solid rgb(253, 253, 253); */
  transition: .2s linear;
}
.sticky {
  background-color: rgb(36, 37, 59);
}
.sticky .Nav-Menu a {
  color: rgb(254, 254, 254);
}
.sticky .Menu-toggler span {
  background-color: rgb(255, 254, 254);
}
@media screen and (max-width: 980px) {
  .Menu-toggler {
    display: block;
  }
  .Nav-Menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .Nav-Menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .Nav-Menu.active {
    right: 0;
  }
  .Menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .Menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .Menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
@media screen and (max-width: 510px) {
  .Menu-toggler{
    display: block;
  }
  .Nav-Menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -150%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .Nav-Menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .Nav-Menu.active {
    right: 0;
  }
  .Menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .Menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .Menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
