* {
  margin: 0;
  padding: 0;
}
.Skills-Me {
  padding: 100px 0;
  background-color: #fff;
}
.Section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: black;
}
.Section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}
.Section-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #402a76;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}
.Skills-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Skills {
  width: 200px;
  height: 150px;
  text-align: center;
  border: solid #402a76;
  border-radius: 6px;
  margin: 20px auto;
  padding: 40px 20px;
  color: black;
  cursor: pointer;
  transition: 0.3s linear;
}
.Skills:hover{
  background-color: #4d3f6e;
  color: #fff;
}
.Skills h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-top: -25px;
}
.Skills span {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
