.Works {
  margin-top: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #343a5e;
}
.Section-title-Works {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}
.Section-title-Works::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: calc(50% - 40px);
}
.Section-title-Works::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #ffdc5d;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}
.Projects {
  width: calc(33% - 10px);
  overflow: hidden;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  margin-bottom: 50px;
}
.Projects img {
  width: 100%;
  height: 100%;
  transition: .4s linear;
}
.Projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(66, 71, 83, 0.5);
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
}
.Projects .info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  color: rgb(222, 221, 221);
  transition: 0.4s linear;
  opacity: 0;
}
.Projects:hover img{
  transform: scale(1.1);
}
.Projects:hover::before,
.Projects:hover .info {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 980px) {
  .Projects {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width:600px) {
    .Projects{
        width: 100%;
    }
}
